@font-face {
    font-family: 'ActionMan';
    src: url('fonts/action_man-webfont.woff2') format('woff2'),
         url('fonts/action_man-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
